body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f3f7;
}

header {
    background-color: black;
    color: #fff;
    padding: 5px;
    height: 100px;
    justify-content: space-between;
    align-items: center; 

}

header img {
    max-width: 150px;
    max-height: 100px;
    position: absolute;
}

nav {
    display: flex;
    justify-content: center;
    background-color:#1c768f;
    padding: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
        
padding-top:5px;
padding-bottom:5px;
    width: 100%;
}
.div1{
    padding: 5px;
    margin: 5px;
    align-items: center;
}


.card {
    background-color: white;
    width: 18rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* transition: transform 0.3s ease-in-out; */
}

/* .card:hover {
    transform: scale(1.05);
} */

.card-img-top {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    /* padding-left: 10px; */
    /* padding: 10px; */
    margin-top : 10px;
    /* margin :10px */
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card-body {
    padding: 16px;
    padding-top: 5px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-text {
    color: #555;
}
section {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
.headerlink{
    text-decoration: none;
}


.btn-primary {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 12px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1584f3;
    color: #fff;
    border: 1px solid #077cf1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

#checkoutbtn{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 12px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1584f3;
    color: #fff;
    border: 1px solid #077cf1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: auto;
}

.modalbutton{
    background-color: #5691e9;
}

.btn-primary:hover {
    background-color: #077cf1;
}

h1 {
font-weight: bold;
color: #fff;
font-size: 38px;
}